---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mí</a>
        <a href="/blog/">Blog</a>
		<h1>Sobre mí</h1>
        <h2>Mi nuevo sitio web ...</h2>
        <p>Haciendo el tutorial de Astro, hasta el momento bien facil de entender</p>
        <p>este sitio se irá actualizando con el tiempo</p>

	</body>
</html>
