---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
const pageTitle = "Mi Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Este es la otra página llamada blog</h2>
	<p>Este es un párrafo de prueba para ver si funciona el blog</p>
	<ul>
		{
			allPosts.map((post: any) => (
				<BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
			))
		}
	</ul>
</BaseLayout>
<!--  -->
