---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Mi Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Este es la otra página llamada blog</h2>
	<p>Este es un párrafo de prueba para ver si funciona el blog</p>
	<ul>
		{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
	</ul>
</BaseLayout>
<!--  -->