---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Inicio de Inicios";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Mi Asombroso Sitio Web onio</h2>
</BaseLayout>
